h1 {
    color: darkblue;
}

h2 {
    color: darkblue;
}

body {
    background-color: #fffff0;
    font-family: "Fira Sans", sans-serif;
}

a:hover {
    text-decoration: none;
    background-color: lightgreen;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}
